tensorflow>=2.19.1
dask[complete]>=2025.9.1
pandas>=2.3.2
seaborn>=0.13.2
pytest>=8.4.1
coverage>=7.11.3
pytest-cov>=6.2.1
pylint>=3.3.9
flake8>=7.1.2
jupyterlab>=4.5.7
xlrd>=2.0.2
openpyxl>=3.1.3
## Pip adds the following, which are installed by the preceding packages:
numpy>=2.4.4
matplotlib>=3.10.5
scipy>=1.16.1
requests>=2.32.5
